
table{
    border-radius: 5px;
}

.body{
    font-weight: 400;
}

.label{
    font-size: 15px;
}

.labelProgress{
    font-size: 14px;
    text-align: center;
    color: rgb(74, 74, 74);
    transition: color 0.3s ease, color 0.3s ease;
}

.labelProgress:hover{
    color: #f0f1f2;
    cursor: pointer;
}

.progress{
    padding: 1px 1px 1px 1px;
    border-radius: 69px 69px 69px 69px;
}

.progress_bar_client{
    width: 20%;
    background-color: rgb(55, 190, 241);
}

.active_progress{
    color: #f0f1f2;
}

.tool{
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 3px;
}

.tool-active{
    transition: color 0.3s ease, background-color 0.3s ease;
}

.tool-active:hover{
    background-color: #0d6efd;
}

.tool-active:hover .row > div:nth-child(3) i {
    color: red;

}

.tool:hover{
    background-color: #0d6efd;
    border-radius: 3px;
}

.bi-trash:hover{
    color: red;
}

#tableCompany td{
    font-size: 12px;
    transition: padding-left 0.3s ease, color 0.3s ease;
}

#tableCompany td:hover{
    padding-left: 20px;
    /*color: #0d6efd;*/
}

.activeCompany > td:hover {
    color: white !important;
}

.log{
    padding-top: 5px;
}

.activeCompany td {
    background-color: #0a5cae;
}

.activeCompany td span{
    background-color: #2eae0a !important;
}

.bi-x-lg {
    color: #94999d !important;
    transition: transform 0.5s, color 0.5s;
}

.bi-x-lg:hover {
    color: #ea0505 !important;
}

.infoTitle{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.infoDis{
    border-radius: 5px;
    line-height: 18px;
    padding: 5px;
}

.addressInfoBlock{
    display: flex;
    align-items: center;
    padding: 10px;
}

.innInfoBlock{
    display: flex;
    align-items: center;

}

input:focus{
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: rgb(134, 182.5, 254) !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}


.ui-sortable td{
    font-size: small;
    text-align: center;
    vertical-align: middle;
}

.active td{
    background-color: #0a5cae;
}

.tHeadSortable th{
    font-size: small;
    text-align: center;
    vertical-align: middle;
}


/*.ui-sortable tr:hover td {*/
/*    background-color: #0a5cae;*/
/*}*/

td:hover{
    cursor: pointer !important;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}




.bi-search{
    font-size: 15px;
    transform: rotate(0deg);
    display: inline-block;
    transition: color 2s, transform 2s;
}

.bi-search:hover{
    color: #40ff00;
    display: inline-block;
    transform: rotate(360deg);
}

.active-search{
    color: #40ff00;
    display: inline-block;
    transform: rotate(450deg);
}

.fade-out {
    animation: fadeOut 1s forwards;
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.input-File{
    width: 89%;
    display: block;
    float: left;
    margin-right: 15px;
}

.exelTable {
    table-layout: fixed; /* Используйте фиксированное размещение для равномерного распределения ширины */
    width: 100%; /* Убедитесь, что таблица занимает 100% ширины родителя */
}

.exelTable > tr > th {
    padding: 1px;
    height: 40px;
    font-size: 15px;
}

.exelSelect {
    width: 100% !important; /* Устанавливаем ширину select на 100% от родителя */
    height: 40px;
    font-size: 15px; /* Устанавливаем высоту select на 100% от родителя */
    font-weight: 399;
    text-align: center;
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    border: none; /* Убираем рамку (по желанию) */
    box-sizing: border-box; /* Включаем рамки и внутренние отступы в размер */
    appearance: none; /* Убираем стандартный стиль (по желанию) */
}

.exelTable >tbody > tr td{
    text-align: center;
}

#theadExel{
    position: sticky;
    top: 0;
}

.textArea{
    position: relative;
}

#countText{
    font-size: 12px;
    color: #82868a;
    position: absolute;
    bottom: 2%;
    left: 1%;
}

#textAreaInput{
    font-size: 15px;
    resize: none;
    height: 100px;
}

.form-text{
    font-size: 12px;
}

#addFormCompany input{
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}

#addFormCompany select{
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}

